.thunar,  
.thunar menubar,
.thunar toolbar {
	background: rgba(47,52,63,0.61);
	border: 0;
}

.thunar treeview, scrolledwindow {
	background: rgba(47,52,63,0.37);
	border: 0;
}

.thunar .standard-view .view {
          background-image: -gtk-scaled(url("kram.png"), url("kram.png"));
          background-repeat: no-repeat;
          background-position: bottom right;
}

.thunar .standard-view .view * { background-image: none; }

/*
.thunar .standard-view .view * { background: transparent; color: white; }
.thunar .standard-view .view ::selection { background: grey; } 
*/
